.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 46px;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.bar {
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
}

.bar>a {
    padding: 12px 24px;
    float: left;
}

.bar-block .bar-item {
    width: 100%;
    display: block;
    padding: 12px 24px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

section {
    margin: 10px;
}

@media screen and (max-width: 640px) {
    img {
        width: 100%;
    }
    p {
        background-color: red;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    img {
        width: 100%;
        max-width: 364px;
    }
    p {
        background-color: yellow;
    }
}

@media screen and (min-width: 769px) {
    img {
        width: 100%;
        max-width: 320px;
    }
    p {
        background-color: blue;
    }
}